{% extends 'base.html.twig' %}

{% block title %}Symfony Blog - Profile - Change photo{% endblock %}

{% block body %}
    <div class="row">
        {{ include('breadcrumb.html.twig', { 'crumb': 'Profile', 'active': 'Change photo' }) }}
        <div class="panel panel-default panel-article">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-md-4 col-xs-4 text-left">
                        <a href="{{ path('app_profile_view', {'id': author.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back</a>
                    </div>
                    <div class="col-md-4 col-xs-4 text-center">
                        {% if author.profile.picture != '/images/profile/default_picture.png' %}
                            <a href="{{ path('app_profile_deletepicture', {'id': author.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-xs-4 text-right">
                        <button class="btn btn-default pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Upload</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
