{% extends 'base.html.twig' %}

{% block title %}Symfony Blog - Profile - Change password{% endblock %}

{% block body %}
    <div class="row">
        {{ include('breadcrumb.html.twig', { 'crumb': 'Profile', 'active': 'Change password' }) }}
        <div class="panel panel-default panel-article">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-md-6 col-xs-6 text-left">
                        <a href="{{ path('app_profile_view', {'id': author.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back</a>
                    </div>
                    <div class="col-md-6 col-xs-6 text-right">
                        <button class="btn btn-default pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Change</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
