{% extends 'base.html.twig' %}

{% block title %}Symfony Blog - {{ author.firstName }} {{ author.lastName }} - Liked articles{% endblock %}

{% block body %}
    <div class="row">
        {{ include('breadcrumb.html.twig', { 'crumb': 'Profile', 'active': 'Liked articles' }) }}
        <div class="panel panel-default panel-article">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Liked articles</h3>
            </div>
            {% if author.likes %}
                {% for like in author.likes %}
                    <div class="panel-body">
                        <p><b><a href="{{ path('app_article_view', {'id': like.article.id}) }}">{{ like.article.title }}</a></b></p>
                        <p>{{ like.article.shortText }}</p>
                        <p>
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;{{ like.article.likes.count }}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;{{ like.article.comments.count }}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{ like.article.tag.count }}
                            <span class="pull-right">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ like.article.created|date }}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{{ path('app_article_view', {'id': like.article.id}) }}" class="read_more" data-toggle="tooltip" title="Read more"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                            </span>
                        </p>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <div class="panel-body">
                    <p class="text-center">(No articles)</p>
                </div>
            {% endif %}
            <div class="panel-body">
                <a href="{{ path('app_profile_view', {'id': author.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back</a>
            </div>
        </div>
    </div>
{% endblock %}
