{% extends 'admin/base.html.twig' %}

{% block title %}ADMIN - Author update{% endblock %}

{% block body %}
    <div class="row row-admin">
        {{ include('admin/breadcrumb.html.twig', { 'crumb': 'Authors', 'active': 'Update' }) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-md-3 col-xs-3 text-left">
                        <a href="{{ path('app_admin_author_list') }}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back</a>
                    </div>
                    <div class="col-md-3 col-xs-3 text-left">
                        <a href="{{ path('app_admin_author_changepicture', {'id': author.id}) }}" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;Change photo</a>
                    </div>
                    <div class="col-md-3 col-xs-3 text-right">
                        <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-certificate"></span>&nbsp;&nbsp;Change password</a>
                    </div>
                    <div class="col-md-3 col-xs-3 text-right">
                        <button class="btn btn-default pull-right" type="submit"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Update</button>
                    </div>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
