<h3>You did it! You registered!</h3>
<p>Congratulations, {{ firstName }} {{ lastName }}! You're successfully registered.</p>
<p>Login data:</p>
 <ul>
     <li>Email: {{ email }}</li>
     <li>Password: {{ password }}</li>
 </ul>
<p>To login, go to <a href="{{ url('app_login') }}">link</a>. Thanks!</p>
