{% if pagination and pagination|length > 0 %}
    {% for article in pagination %}
        <div class="panel panel-default panel-article">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;<a href="{{ path('app_article_view', {'id': article.id}) }}">{{ article.title }}</a></h3>
            </div>
            <div class="panel-body">
                {% if article.picture %}
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ path('app_article_view', {'id': article.id}) }}">
                                <img class="media-object img-rounded" src="{{ article.picture }}" width="100" height="100">
                            </a>
                        </div>
                        <div class="media-body">
                            {{ article.shortText }}
                        </div>
                    </div>
                {% else %}
                    {{ article.shortText }}
                {% endif %}
            </div>
            <div class="panel-footer">
                <div class="row">
                    <span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;{{ article.likes.count }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;{{ article.comments.count }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{ article.tag.count }}
                    <span class="pull-right">
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ article.created|date }}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('app_profile_view', {'id': article.author.id}) }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ article.author.firstName }} {{ article.author.lastName }}</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('app_article_view', {'id': article.id}) }}" class="read_more" data-toggle="tooltip" title="Read more"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="panel panel-default panel-article">
        <div class="panel-body">
            <p class="text-center"><b>Empty!</b></p>
        </div>
    </div>
{% endif %}

<div class="row text-center">
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
