<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Blog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('app_site_index') }}">Symfony Blog</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('app_site_index') }}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;Contacts</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#writeToUs"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Write to us</a></li>
                        </ul>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search articles">
                            </div>
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('app_article_create') }}" id="create_article" data-toggle="tooltip" title="Write an article"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{ asset('images/profile/default_picture.png') }}" class="img-circle" width="18">&nbsp;&nbsp;{{ app.user.firstName }} {{ app.user.lastName }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('app_profile_view', {'id': app.user.id}) }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My profile</a></li>
                                        <li><a href="{{ path('app_profile_articles', {'id': app.user.id}) }}"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;My articles</a></li>
                                        <li><a href="{{ path('app_profile_likes', {'id': app.user.id}) }}"><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;Liked articles</a></li>
                                        <li><a href="{{ path('app_profile_comments', {'id': app.user.id}) }}"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Commented articles</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('app_logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a></li>
                                <li><a href="{{ path('app_registration') }}"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Registration</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        <div class="container">
            <div class="row">
                {% block slider %}
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for i in 1..10 %}
                                <div class="item {% if i == 1 %}active{% endif %}">
                                    <img src="{{ asset('images/header/slide_' ~ i ~ '.jpg') }}" class="img-rounded">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            </div>

            <div class="row">
                <div class="col-md-8">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-md-4">
                    {% block right_side %}
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Categories</h3>
                                </div>
                                <div class="panel-body">
                                    {{ render(controller('App\\Controller\\CategoryController::listAction')) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center"><span class="glyphicon glyphicon-duplicate"></span>&nbsp;&nbsp;Last articles</h3>
                                </div>
                                <div class="panel-body">
                                    {{ render(controller('App\\Controller\\ArticleController::lastAction')) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Tags</h3>
                                </div>
                                <div class="panel-body">
                                    {{ render(controller('App\\Controller\\TagController::listAction')) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center"><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Archive</h3>
                                </div>
                                <div class="panel-body">
                                    {{ render(controller('App\\Controller\\ArchiveController::listAction')) }}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>

            <div class="row">
                {% block footer %}
                    <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
                        <div class="container">
                            <p class="navbar-text pull-left"><b>Developer:</b> Petro Kulybaba</p>
                            <p class="navbar-text pull-right">&copy; 2018</p>
                        </div>
                    </nav>
                {% endblock %}
            </div>
        </div>


        <!-- Write to us modal -->
        <div class="modal fade" id="writeToUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-send"></span> Write to us</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="name" class="control-label">Name:</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="message" class="control-label">Message:</label>
                                <textarea class="form-control" id="message"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close</button>
                        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Write</button>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('libs/jquery/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('libs/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/common.js') }}"></script>
        {% endblock %}
    </body>
</html>
